

.homeButton {
    height: 85px;
    max-width: 500px;
    margin-top: 45px;
    font-size:18px;
    font-weight:600 !important;
    --background: linear-gradient(45deg, hsla(123, 100%, 35%, 1) 0%, hsla(179, 52%, 21%, 1) 99%, hsla(260, 99%, 27%, 1) 100%);
    --background-activated: linear-gradient(225deg, hsla(123, 100%, 35%, 1) 0%, hsla(179, 52%, 21%, 1) 100%, hsla(260, 99%, 27%, 1) 100%);

}

@media screen and (min-width: 600px) {
    .homeButton{
        margin-left: auto;
        margin-right: auto;
    }

}